.section {
  padding-top: 64px;
  margin-top: 18px;
  margin-bottom: 144px;
}
.sectionTitle {
  text-align: center;
  margin-bottom: 32px;
}
.form {
  width: 60%;
  margin: auto;
}
.form > .input + .input {
  margin-top: 18px !important;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border-radius: 0;
  border: 2px rgb(168, 168, 168) solid;
  outline: none; /*disables blu border*/
  resize: none; /*disable textarea resize*/
}
.input:focus-visible {
  border: 2px black solid;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.button {
  margin-left: auto;
}