.navbar {
  position: relative;
  z-index: 200;
  padding-top: 120px;
  padding-bottom: 48px;
  align-items: center;
  justify-content:space-between;
}


.navbarLinks > * + * {
  margin-left: 64px;
}
.menuButton {
  display: none;
  width: 50px;
  height: 50px;
}
.menuIcon {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.menuTint {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms cubic-bezier(.09,.96,.47,1);
}
.menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: white;
}

.menuLinks {
  align-items: center;
  width: 100%;
  padding-bottom: 48px;
}
.menuLinks > a {
  text-align: center;  
}
.menuLinks > a + a {
  margin-top: 16px;
}
.closeButton {
  width: 50px;
  height: 50px;
}

@media (any-hover: hover) {
  .menuButton:hover,.closeButton:hover {
    opacity: 0.5;
  }
}
@media (max-width: 1080px) {
  .navbarLinks > * + * {
    margin-left: 48px;
  }
}
@media(max-width: 900px) {
  .navbar {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .navbarLinks {
    display: none;
  }
  .menuButton {
    display: inline-block;
  }
  .menuIcon {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-bottom: 24px;
  }
  .menuButton, .closeButton {
    width: 40px;
    height: 40px
  }
}