.section {
  padding-top: 80px;
  margin-bottom: 120px;
  max-width: 100%;
  overflow: hidden;
}
.sectionTitle {
  text-align: right;
  margin-bottom: 28px;
}

@media (max-width: 1080px) {
  .section {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
  .sectionTitle {
    margin-right: 120px;
  }
}
@media (max-width: 600px) {
  .section {
    padding-top: 56px;
    margin-top: 64px;
  }
  .sectionTitle {
    text-align: center;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
