.section {
  padding-top: 80px;
  margin-bottom: 164px;
}

.container {
  position: relative;
  display: flex;
}
.container > * + * {
  margin-left: 83px;
}

.sectionTitle {
  margin-bottom: 45px;
}

.sectionText > * + * {
  margin-top: 36px;
}

.skillbarContainer {
  flex: 0 0 484px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skillbarContainer > * + * {
  margin-top: 64px;
}
.skillbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skillbar > * + * {
  margin-top: 10px;
}

.bar {
  height: 12px;
}
.frontend {
  width: 100%;
  background-color: var(--blue);
}

.reactJs {
  width: 86%;
  background-color: var(--yellow);
}
.backend {
  width: 68%;
  background-color: var(--orange);
}
.testing {
  width: 51%;
  background-color: var(--red);
}

@media (max-width: 1080px) {
  .sectionTitle {
    margin-bottom: 24px;
  }
  .container {
    flex-direction: column-reverse;
  }
  .container > * + * {
    margin-left: 0;
  }
  .skillbarContainer {
    flex: 0 0 100%;
    max-width: 100%;
    width: 80%;
    margin-bottom: 40px;
  }
  .skillbarText {
    font-size: 18px;
    line-height: 24px;
  }
  .skillbarContainer > * + * {
    margin-top: 24px;
  }
  .skillbar {
    align-items: flex-start;
  }
  .bar {
    height: 6px;
  }
}

@media (max-width: 600px) {
  .section {
    margin-top: 64px;
    padding-top: 56px;
    text-align: center;
    margin-bottom: 0;
  }
  .skillbarContainer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
  }
  .skillbarContainer > * + * {
    margin-top: 0;
    margin-left: 36px;
  }
  .skillbar {
    flex-direction: column-reverse;
    align-items: center;
  }
  .bar {
    width: 24px;
  }
  .frontend {
    height: 140px;
  }
  .reactJs {
    height: 120px;
  }
  .backend {
    height: 96px;
  }
  .testing {
    height: 71px;
  }
}

@media (max-width: 500px) {
  .skillbarText {
    font-size: 16px;
  }
  .skillbarContainer > * + * {
    margin-left: auto;
  }
}

/****************** ANIMATIONS ******************/
@keyframes slideInFromTop {
  40% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.sectionTitle {
  transform: translateY(-200px);
  opacity: 0;
}
.sectionTitle.inView {
  animation: 0.5s cubic-bezier(.42,1.49,.65,1.13) 1 slideInFromTop forwards;
}
.sectionText > * {
  opacity: 0;
}
.sectionText > *.inView {
  animation: 1.5s ease 1 fadeIn forwards;
}