.carousel {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 80px; /*space for indicators*/
}
.carouselTrack {
  overflow: visible;
  position: relative;
  transition: transform 600ms cubic-bezier(.24,.64,.28,.99);
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  flex: 0 0 100%;
  height: 100%;
  border: 4px solid black;
  padding: 45px 66px;
  align-items: center;
  transition: opacity 250ms ease-in-out;
  justify-content: space-between;
}
.slide > * + * {
  margin-left: 66px;
}

.slideTitle {
  margin-bottom: 12px;
  text-align: right;
}
.slideDate {
  margin-bottom: 16px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}
.slideText {
  text-align: right;
}
.slideText > * + * {
  margin-top: 36px;
}

.imgContainer {
  flex: 0 0 45%;
  max-height: 90%;
  overflow: hidden;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.arrow:hover {
  opacity: 0.7;
}
.arrow:active {
  opacity: 0.5;
}

.arrowDisable {
  opacity: 0.4;
  pointer-events: none;
}

.arrowLeft {
  z-index: 100;
  left: -100px;
}

.arrowRight {
  z-index: 100;
  right: -100px;
}

.carouselNav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -36px;
  display: flex;
  justify-content: center;
}
.carouselNav > * + * {
  margin-left: 12px;
}
.ringOutline {
  position: relative;
  padding: 2px;
  border: 2px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slideIndicator {
  border: 0;
  border-radius: 50%;
  flex: 0 0 7px;
  height: 7px;
  background-color: black;
  opacity: 0;
}
.ringOutline:hover .slideIndicator {
  opacity: 0.4;
}
.ringOutline:active .slideIndicator,.slideIndicatorCurr {
  opacity: 1 !important;
}

.linkContainer {
  margin-top: 24px;
  display: block;
  display: flex;
  justify-content: flex-end;
}
.link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  border-bottom: 2px transparent solid;
}
.link:hover {
  opacity: 1;
  border-bottom: 2px black solid;
}
.link:active {
  opacity: 0.6;
}

@media (min-width: 1550px) {
  .carouselTrack {
    min-height: 700px;
  }
  .img {
    height: 500px;
  }
}
@media (max-width: 1550px) {
  .carouselTrack {
    min-height: 800px;
  }
  .img {
    height: 600px;
  }
}