.section {
  padding-top: 18px;
  margin-top: 54px;
  margin-bottom: 144px;
}

.container {
  height: 745px;
}
.container > * + * {
  margin-left: 83px;
}
.imgContainer {
  flex: 0 0 484px;
  height: 100%;
  overflow: hidden;
}
.img {
  display: block;
  height: 100%;
  object-fit: cover;
}
.textBlock {
  flex: 1 1 1;
  justify-content: flex-end;
}
.sectionTitle {
  text-align: right;
  margin-bottom: 45px;
}
.sectionText > * + * {
  margin-top: 36px;
}
.text {
  text-align: right;
}

.buttonContainer {
  margin-top: 58px;
  margin-bottom: 42px;
  display: flex;
  justify-content: flex-end;
}
